.profile-card {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
  }
  
  .profile-avatar {
    margin: 24px auto;
    border-radius: 50%;
    border: 4px solid #f0f0f0;
  }
  
  .profile-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .profile-actions button {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .profile-card .profile-text {
    color: #000000; 
    font-size: 20px; 
  }
  

  .profile-card .loyalty-points {
    color: #0b0b0b;
    font-weight: bold; 
  }
  .profile-info {
    padding: 20px;
  }
  
  .profile-info .ant-divider {
    margin: 12px 0;
  }
  
  .profile-info .ant-typography {
    display: block;
    margin-bottom: 8px;
  }
  
  .profile-info .ant-progress {
    margin-top: 10px;
  }
  
  .profile-card .ant-typography {
    color: #000000; 
  }
  
  .profile-card .ant-divider {
    border-color: #ccc; 
  }
  
  .profile-card .ant-btn-link {
    color: #040404; 
  }
  
  .profile-card .ant-btn-primary {
    background-color: #090909; 
    border-color: #0c0c0c; 
  }
  
  .profile-card .ant-progress-inner {
    background-color: #f0f0f0; 
  }
  
  .profile-card .ant-progress-bg {
    background-color: #1890ff; 
  }

.ant-form-item-label > label {
    color: #171717; 
  }
  
  .ant-input {
    border-color: #000000; 
    color: #060606; 
  }
  
  .ant-input:focus, .ant-input:hover {
    border-color: #090909; 
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2); 
  }
  
  .ant-form-item {
    margin-bottom: 16px; 
  }
  
  @media (max-width: 768px) {
    .profile-card {
      padding: 10px;
    }
  
    .profile-avatar {
      width: 100px;
      height: 100px;
    }
  
    .profile-info {
      padding: 10px;
    }
  
    .profile-actions {
      flex-direction: column;
      gap: 5px;
    }
  }