.passenger-details-layout {
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.passenger-details-background {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.passenger-title {
  font-size: 32px;
  font-weight: 600;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 15px;
}

.passenger-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 15px;
}

.passenger-form {
  margin-top: 20px;
}

.passenger-form .ant-form-item-label > label {
  font-weight: bold;
  color: #333;
}

/* Button Styles */
.button-container, .flex-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px; 
  width: 100%;
}

.button-container {
  margin-top: 20px;
}

.flex-buttons {
  /* gap: 10px; */
}

/* Individual Buttons */
.add-passenger-btn, .previous-button, .submit-btn, .action-button {
  flex: 1;
  min-width: 120px;
  margin-bottom: 20px;
}

.add-passenger-btn {
  background-color: black;
  border-color: black;
}

.add-passenger-btn:hover {
  background-color: grey;
  border-color: grey;
}

.submit-btn {
  background-color: #4caf50;
  border-color: #4caf50;
}

.submit-btn:hover {
  background-color: #45a049;
}

.previous-button {
  background-color: #f0f0f0;
  color: #000;

}

@media (max-width: 768px) {
  .flex-buttons, .button-container {
    flex-direction: column; /* Stack buttons vertically */
    justify-content: center; /* Center buttons when stacked */
    gap: 10px;
  }

  .action-button, .add-passenger-btn, .previous-button, .submit-btn {
    width: 100%;
  }

  .passenger-details-background {
    padding: 20px;
  }

  .passenger-title {
    font-size: 28px;
  }

  .passenger-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .flex-buttons {
    flex-direction: column; 
    gap: 10px;
  }
}
